/* .footerSection{
    margin-top: 5rem;
} */

.footerUp {
    background-color: var(--tertiary-color);
    display: flex;
    gap: 5rem;
    height: 30rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container img {
    height: 22rem;
    width: 19rem;
    filter: grayscale(100%) brightness(90%) opacity(10%);
}

.container2 h6 {
    font-size: var(--header-five-desktop);
    color: var(--primary-color);
    font-family: var(--header-font-family);
}

.p {
    color: var(--nav-color);
    font-size: 1.7rem;
    line-height: 3.4rem;
}

.input {
    width: 25rem;
    height: 4rem;
    border: none;
    padding-left: 1rem;
    margin-right: 1rem;
}

.footerDown {
    width: 100%;
    height: 10rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    height: auto;
    width: auto;
}

.footer img {
    height: 4rem;
    width: 6rem;
}

.footer p {
    color: var(--color);
    font-size: 1.6rem;
}

@media (min-width:300px) and (max-width: 567px) {
    .footerUp {
        flex-direction: column;
        gap: 2rem;
        height: 40rem;
    }

    .container img {
        height: 15rem;
        width: 13rem;
    }

    /* .container2 {
        padding-left: 2rem;
    } */

    .container2 h6 {
        font-size: var(--header-six-desktop);
    }

    .p {
        font-size: var(--header-six-desktop);
    }

    .input {
        width: 100%;
        margin-bottom: 1rem;
    }

    .footerDown {
        height: 15rem;
    }

    .footer img {
        height: 3rem;
        width: 5rem;
    }

    .footer p {
        font-size: var(--header-six-desktop);
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .p {
        font-size: var(--text-size);
    }
    
}