html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

:root {
    --header-one-desktop: 6.485rem;
    --header-two-desktop: 5.188rem;
    --header-three-desktop: 4.15rem;
    --header-four-desktop: 3.3203rem;
    --header-five-desktop: 2.656rem;
    --header-six-desktop: 2.15rem;
    --text-size: 1.7rem;
    --sub-headline:2.125rem;
    --header-font-family: Merriweather;
    --body-font-family: Open Sans;
    --primary-color: #091638;
    --secondary-color: #1C3988;
    --tertiary-color: #F3F3FA;
    --hover-color: #6E8AE9;
    --color: #fff;
    --nav-color: #141B2D;
}


.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color);
    border: 2px solid var(--primary-color);
    margin: 0 5px;
}

.carousel-indicators .active {
    background-color: var(--primary-color);
}